option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pollproject/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pollproject.settings
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    LANG: "ko_KR.utf8"
    LC_ALL: "ko_KR.UTF-8"
    LC_LANG: "ko_KR.UTF-8"
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "www/static/"